#divModo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
  background-color: transparent;
  color: #333;
  transition: background-color 0.3s, color 0.3s; 
}

#divModo.dark {
  background-color: transparent;
  color: #f0f0f0;
}

.btnModo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  background-color: red;
  color: inherit; 
  border: none; 
}

.btnModo:hover {
  color: black; 
}