.modalContainer {
  background-color: rgba(139, 100, 100, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5rem;
  width: 100%;
  height: calc(100vh - 5rem);
  place-items: center;
  transition: all 0.2s;
  z-index: 1;
  cursor: pointer;
}

.modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: black;
  width: 70%;
  height: 90%;
  color: white;
  border-radius: 50px;
  position: absolute;
  padding: 1rem;
  text-align: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-inline: 3rem;*/
  width: 40%;
  height: 100%;
  /*border: solid 1px red;*/
}

.imageDetails {
  /* border: solid 1px red;*/
  height: 18rem;
}

.type,
.pokemon-habitat,
.pokemon-height,
.pokemon-weight {
  font-size: 1.2rem;
  padding: 0.2rem;
  color: white;
  text-transform: capitalize;
}

.type-list {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 60%;
  height: 100%;

  /*border: solid 1px red;*/
}

.dataContainerIdNombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: solid 1px rgb(234, 238, 14);*/
}
.number {
  width: 100%;

  font-size: 2rem;
  color: rgb(182, 178, 178);
}
.title {
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
  text-transform: capitalize;
  font-size: 3rem;
  color: red;
}
.titleSection {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0.5rem;
  color: rgb(182, 178, 178);
}

.containerDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
}

.abilitiesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*border: solid 1px rgb(12, 241, 241);*/
}
.ability-list {
  display: flex;
}

.ability-item {
  padding-inline: 1rem;
  text-transform: capitalize;
}

.titleSectionSpan {
  padding: 0.5rem;
}

.containerStats {
  width: 100%;

  /*border: solid 3px rgb(0, 255, 170);*/
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  height: 30%;
  /*border: solid 3px rgb(255, 51, 0);*/
}

.containerStatsUL {
  display: flex;

  align-items: center;
  width: 100%;
}
.stat-list {
  display: flex;
  text-transform: capitalize;
  width: 100%;
  justify-content: space-around;
  /* border: solid 1px rgb(0, 26, 255);*/
}

.stat-name {
  font-size: 0.7rem;
}
.stat-base {
  font-size: 1rem;
}

@media (min-width: 551px) and (max-width: 950px) {
  .modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5rem;
    width: 100%;
    height: calc(100vh - 5rem);

    transition: all 0.2s;
    z-index: 1;
  }

  .modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    width: 90%;
    height: 95%;
    color: white;
    border-radius: 15px;
    position: absolute;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 45%;

    /*border: solid 1px red;*/
  }
  .dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 65%;
    height: 100%;
  }

  .imageDetails {
    width: auto;
    height: 9rem;
  }

  .number {
    font-size: 1rem;
    /*border: solid 1px red;*/
  }
  .titleSection {
    margin: 0rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .title {
    margin: 0;
    font-size: 2.5rem;
    /*border: solid 1px red;*/
    margin: 0.2rem;
  }
  .valueDescription {
    font-size: 0.8rem;
    /*border: solid 1px red;*/
  }

  .containerDescription {
    height: 20%;
  }
  .abilitiesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
  }

  .titleSectionSpan {
    padding: 0.3rem;
  }

  .type,
  .pokemon-habitat,
  .pokemon-height,
  .pokemon-weight {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.1rem;
    color: white;
    text-transform: capitalize;
  }

  .ability-item {
    padding-inline: 1rem;
    font-size: 0.8rem;
  }

  .type-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
  }
  .stat-list {
    display: flex;
    text-transform: capitalize;
  }

  .stat-name {
    font-size: 0.6rem;
  }
  .stat-base {
    font-size: 0.9rem;
  }
}

@media (max-width: 550px) {
  .modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5rem;
    width: 100%;
    height: calc(100vh - 5rem);

    transition: all 0.2s;
    z-index: 1;
  }

  .modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 90%;
    height: 95%;
    color: white;
    border-radius: 15px;
    position: absolute;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-top: 0;
  }
  .dataContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
  }

  .imageDetails {
    width: auto;
    height: 10rem;
  }

  .number {
    font-size: 1rem;
  }
  .titleSection {
    margin: 0rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .title {
    margin: 0;
    font-size: 2.5rem;

    margin: 0.2rem;
  }
  .valueDescription {
    font-size: 0.8rem;
  }

  .abilitiesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleSectionSpan {
    padding: 0.3rem;
  }

  .type,
  .pokemon-habitat,
  .pokemon-height,
  .pokemon-weight {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.1rem;
    color: white;
    text-transform: capitalize;
  }

  .type-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ability-item {
    padding-inline: 1rem;
    font-size: 0.8rem;
  }

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
  }
  .stat-list {
    display: flex;
    text-transform: capitalize;
  }

  .stat-name {
    font-size: 0.6rem;
  }
  .stat-base {
    font-size: 0.9rem;
  }
}
